{% extends 'layouts/auth.html.twig' %}
{% import 'includes/admin/forms.html.twig' as form %}


{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <strong><a href="{{ path_for('home') }}">Devcast</a></strong>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                {% if flash is defined %}
                    {% for type, message in flash %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}<br>
                        </div>
                    {% endfor %}
                {% endif %}

                <form action="{{ path_for('auth.login') }}" method="post">
                    {{ form.email('email', 'email', errors.email, input.email) }}
                    {{ form.password('password', 'password', errors.password) }}

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}