<footer class="footer">
    <section class="section-positive">
        <div class="container">
            <div class="row mt-70 mb-30">
                <div class="col-sm-4 mb-40">
                    <h2 class="title-separator white">Lastest Episodes</h2>
                    <ul class="footer-complement">
                        {% for l in last %}
                            <li id="{{ l.id }}">
                                <a href="{{ path_for('podcasts.show', {id: l.id, slug: l.slug }) }}">
                                    {{ l.name | truncate(20) }}
                                </a>
                                <span>{{ l.created_at | date('M d, Y') }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-4 mb-40">
                    <h2 class="title-separator white">Contributors</h2>
                    <ul class="footer-complement">
                        <li>
                            <a href="{{ meta.social.github }}">bernard-ng</a>
                            <span>Founder</span>
                        </li>
                        <li>
                            <a href="{{ meta.social.sponsor }}">mahid_hm</a>
                            <span>Sponsor</span>
                        </li>
                        <li>
                            <a href="{{ meta.social.developers }}">itotafrica</a>
                            <span>Developers</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 mb-40">
                    <h2 class="title-separator white">We are social</h2>
                    <ul class="social-list">
                        <li class="social-item"><a href="{{ meta.social.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-item"><a href="{{ meta.social.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-item"><a href="{{ meta.social.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li class="social-item"><a href="{{ meta.social.youtube }}" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-credits">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a href="{{ meta.social.github }}">bernard-ng</a> - {{ 'now' | date('Y') }}. All rights reserved.
                </div>
            </div>
        </div>
    </section>
</footer>