<header class="header scrolling sticky" itemscope itemtype="http://schema.org/Organization">
    <div class="container">
        <h1 class="logo">
            <a href="{{ path_for('home') }}">
                <span itemprop="logo"><strong>Dev</strong>cast</span>
            </a>
        </h1>

        <nav class="navigation">
            <ul class="menu">
                <li class="menuitem {{ is_current_path('home')? 'active' : '' }}">
                    <a href="{{ path_for('home') }}" >Home</a>
                </li>

                <li class="menuitem {{ is_current_path('podcasts.index') ? 'active' : '' }}">
                    <a href="{{ path_for('podcasts.index') }}">Podcasts</a>
                </li>

                <li class="menuitem {{ is_current_path('categories.index')? 'active' : '' }}">
                    <a href="{{ path_for('categories.index') }}">Categories</a>
                </li>

                <li class="menuitem {{ is_current_path('about')? 'active' : '' }}">
                    <a href="{{ path_for('about') }}">About</a>
                </li>

                <li class="menuitem {{ is_current_path('contact')? 'active' : '' }}">
                    <a href="{{ path_for('contact') }}">Contact</a>
                </li>
            </ul>

            <a href="#" class="btn-hamburguer-menu"><i class="fa fa-bars"></i></a>
        </nav>
    </div>
</header>