{% htmlcompress %}
    <!DOCTYPE html>
    <html lang="{{ meta.lang }}">
    <head>
        <title>{{ meta.title }}</title>
        <link rel="icon" href="{{ images('logo.ico') }}"/>
        <link rel="shortcut icon" href="{{ images('logo.ico') }}"/>
        <meta content="#000" name="theme-color"/>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ base_url() ~ '/assets/admin/plugins/font-awesome/css/font-awesome.min.css' }}">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ base_url() ~ '/assets/admin/dist/css/adminlte.min.css' }}">
        {% block stylesheet %}{% endblock %}
    </head>
    <body itemscope itemtype="http://schema.org/WebSite">
    {% include "@frontend/_includes/noscript.html.twig" %}

    {% block content %}{% endblock %}

    <script src="{{ asset('js/app.js') }}"></script>
    {% block js %}{% endblock %}
    </body>
    </html>
{% endhtmlcompress %}
