<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{{ path_for('admin.index') }}" class="brand-link">
        <span class="brand-text font-weight-light">Devcast <strong>Admin</strong></span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/assets/admin/dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{{ user.link }}" class="d-block">{{ user.name ?? 'bernard-ng' }}</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path_for('admin.index') }}"
                       class="nav-link {{ is_current_path('admin.index') ? 'active' : '' }}">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            Dashboard
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                </li>

                <li class="nav-item has-treeview {{ is_current_path('admin.podcasts') or is_current_path('admin.podcasts.create') ? 'menu-open' : '' }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-microphone"></i>
                        <p>
                            Podcasts
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path_for('admin.podcasts') }}" class="nav-link {{ is_current_path('admin.podcasts') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path_for('admin.podcasts.create') }}" class="nav-link {{ is_current_path('admin.podcasts.create') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview {{ is_current_path('admin.podcastLinks') or is_current_path('admin.podcastLinks.create') ? 'menu-open' : '' }}">
                    <a href="#" class="nav-link ">
                        <i class="nav-icon fa fa-table"></i>
                        <p>
                            Podcast Links
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path_for('admin.podcastLinks') }}" class="nav-link {{ is_current_path('admin.podcastLinks') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path_for('admin.podcastLinks.create') }}" class="nav-link {{ is_current_path('admin.podcastLinks.create') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview {{ is_current_path('admin.categories') or is_current_path('admin.categories.create') ? 'menu-open' : '' }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-tags"></i>
                        <p>
                            Categories
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path_for('admin.categories') }}" class="nav-link {{ is_current_path('admin.categories') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path_for('admin.categories.create') }}" class="nav-link {{ is_current_path('admin.categories.create') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview {{ is_current_path('admin.gallery') or is_current_path('admin.gallery.create') ? 'menu-open' : '' }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-file-picture-o"></i>
                        <p>
                            Gallery
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path_for('admin.gallery') }}" class="nav-link {{ is_current_path('admin.gallery') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path_for('admin.gallery.create') }}" class="nav-link {{ is_current_path('admin.gallery.create') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <div style="height: 1px; border-top:  1px solid #848484; margin: 20px 0;"></div>

                <li class="nav-item has-treeview {{ is_current_path('admin.newsletter') or is_current_path('admin.newsletter.create') ? 'menu-open' : '' }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-envelope-o"></i>
                        <p>
                            NewsLetter
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path_for('admin.newsletter') }}" class="nav-link {{ is_current_path('admin.newsletter') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>List Users</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path_for('admin.newsletter.create') }}" class="nav-link {{ is_current_path('admin.newsletter.create') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Compose</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview {{ is_current_path('admin.users') or is_current_path('admin.users.create') ? 'menu-open' : '' }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-users"></i>
                        <p>
                            Users
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path_for('admin.users') }}" class="nav-link {{ is_current_path('admin.users') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path_for('admin.users.create') }}" class="nav-link {{ is_current_path('admin.users.create') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-file"></i>
                        <p>
                           Files Browser
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path_for('admin.users') }}" class="nav-link {{ is_current_path('admin.users') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Podcasts Audio</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path_for('admin.users.create') }}" class="nav-link {{ is_current_path('admin.users.create') ? 'active' : '' }}">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Podcasts Linked Images</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>