<footer class="footer">
    <section class="section-positive">
        <div class="container">
            <div class="row mt-70 mb-30">
                <div class="col-sm-12 mb-20">
                    <h2 class="title-separator white">About Us</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Sunt cupiditate numquam eum quis, et,
                        autem debitis facere laboriosam fugiat repellendus necessitatibus eaque delectus,
                        impedit distinctio. Fuga voluptatem eum blanditiis qui! Lorem ipsum dolor
                    </p>
                    <ul class="social-list">
                        <li class="social-item">
                            <a href="{{ meta.social.facebook }}" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="{{ meta.social.twitter }}" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="{{ meta.social.instagram }}" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="{{ meta.social.youtube }}" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-credits">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a href="{{ meta.social.github }}">bernard-ng</a> - {{ 'now' | date('Y') }}. All rights reserved.
                </div>
            </div>
        </div>
    </section>
</footer>
