{% extends '@layouts/main.html.twig' %}

{% block content %}
    <header class="page-header" style="background-image: url('{{ images('console.jpg') }}')">
        <div class="page-header-inner">
            <div class="container">
                <div class="page-header-content text-center">
                    <h2>Categories</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        A ab accusantium animi architecto aspernatur consectetur dolor dolores dolorum fugit illum,
                        ipsam labore molestiae officia optio possimus provident quaerat sequi tenetur.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>
    </header>
    <main class="main" id="main">
        <section class="section-positive">
            <div class="container">
                <div class="row">
                    {# TODO : redesign categories card and its HTML structure :) #}
                    {% for c in categories %}
                        <div class="col-sm-6 mb-40 boxed">
                            <div class="podcast-card text-center boxed">
                                <div class="podcast-content">
                                    <h2 class="podcast-title">
                                        <a href="{{ path_for('categories.show', {id: c.id, slug: c.slug}) }}">
                                            {{ c.name | truncate(30) }}
                                        </a>
                                    </h2>
                                    <p class="podcast-excerpt">
                                        <a href="{{ path_for('categories.show', {id: c.id, slug: c.slug}) }}">
                                            {{ c.description | truncate(100) }}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% include "@frontend/_components/pagination.html.twig" %}
                </div>
            </div>
        </section>
    </main>
    {% include '@frontend/_includes/quote.html.twig' %}
{% endblock %}
