{% extends '@layouts/main.html.twig' %}

{% block content %}
    <header class="page-header-podcast" style="background-image: url({{ podcast.thumbUrl }})">
        <div class="page-header-inner">
            <div class="container">
                <div class="page-header-content text-center">
                    <h2>{{ podcast.name }}</h2>
                    <p>{{ podcast.body | truncate(100) }}</p>
                </div>
            </div>
        </div>
    </header>
    {% if podcast.audioUrl %}
        <div class="podcast-player mt-50 mb-50">
            <div class="podcast-player-inner">
                <div class="container">
                    <audio src="{{ podcast.audioUrl }}"></audio>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="podcast-meta-element">
        <time class="podcast-meta-item"><i class="fa fa-calendar"></i> {{ podcast.createdAt | date('M d, Y') }}</time>
        {% if podcast.duration %}
            <span class="podcast-meta-item"><i class="fa fa-clock-o"></i> {{ podcast.duration }} minutes</span>
        {% endif %}
        {% if podcast.audioUrl %}
            <a class="podcast-meta-item" href="{{ podcast.audioUrl }}">
                <i class="fa fa-download"></i> Download (audio)
            </a>
        {% endif %}
        <a
            class="podcast-meta-item"
            href="{{ path_for('categories.show',{id: podcast.categoriesId, slug: podcast.categorySlug}) }}">
            <i class="fa fa-tag"></i> {{ podcast.categoryName }}
        </a>
    </div>
    <main class="main" id="main">
        <section class="section-negative">
            <div class="container">
                <article class="row mt-70 mb-50">
                    <div class="col-md-10 mb-50">
                        <main class="page-content">
                            {{ podcast.body }}
                        </main>
                        <div class="page-pagination">
                            {% if previous %}
                                <a href="{{ path_for('podcasts.show', {id: previous.id, slug: previous.slug}) }}"
                                   class="page-pagination-prev">
                                    <i class="fa fa-long-arrow-left"></i>
                                    <time>{{ previous.createdAt | date('M d, Y') }}</time>
                                    <p>{{ previous.name | truncate(40) }}</p>
                                </a>
                            {% endif %}
                            {% if next %}
                                <a href="{{ path_for('podcasts.show', {id: next.id, slug: next.slug}) }}"
                                   class="page-pagination-next">
                                    <i class="fa fa-long-arrow-right"></i>
                                    <time>{{ next.createdAt | date('M d, Y') }}</time>
                                    <p>{{ next.name | truncate(40) }}</p>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <aside class="col-md-2">
                        <div class="page-sidebar">
                            {% include "@frontend/_includes/share.html.twig" %}
                        </div>
                    </aside>
                </article>
            </div>
        </section>
    </main>
{% endblock %}
