{% extends 'layouts/main.html.twig' %}

{% block content %}
    <section class="podcast-hero" style="background-image: url({{ hero.thumb }})">
        <div class="podcast-hero-inner">
            <div class="container">
                <div class="podcast-hero-content">
                    <span class="podcast-hero-date">{{ hero.createdAt | date('M d, Y') }}</span>
                    <h2 class="podcast-hero-title">
                        <a href="{{ path_for('podcasts.show', {id: hero.id, slug: hero.slug}) }}">
                            {{ hero.name | truncate(50) }}
                        </a>
                    </h2>
                    <ul class="podcast-hero-meta">
                        <li class="item">
                            <a href="{{ path_for('categories.show', {id: hero.categoriesId, slug: hero.categorySlug}) }}" class="podcast-hero-tag" rel="tag">
                                {{ hero.categoryName }}
                            </a>
                        </li>
                        <li class="item"><i class="fa fa-clock-o"></i> {{ hero.durantion }} mins.</li>
                        <li class="item">
                            <a href="{{ hero.audio }}" class="podcast-hero-download">
                                <i class="fa fa-download"></i> Download
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="podcast-hero-player-content">
                <div class="container">
                    <audio src="{{ hero.audio }}"></audio>
                </div>
            </div>
        </div>
    </section>

    <main class="main" id="main">
        <section id="#episodes" class="section-positive">
            <div class="container">
                <h2 class="title-default">Episodes</h2>
                <div class="row">
                    {% for index, p in podcasts %}
                        <div class="col-sm-{{ (index == 0)? '12' : '6' }} mb-40">
                            <div class="podcast-card {{ (index == 0)? 'full' : 'boxed' }}">
                                <figure class="podcast-image">
                                    <a href="{{ path_for('podcasts.show', {id: p.id, slug: p.slug}) }}">
                                        <img src="{{ p.thumb }}" alt="{{ p.name }}" title="{{ p.name }}" />
                                    </a>
                                </figure>
                                <div class="podcast-content">
                                    <span class="podcast-date">{{ p.createdAt | date('M d, Y') }}</span>
                                    <h2 class="podcast-title">
                                        <a href="{{ path_for('podcasts.show', {id: p.id, slug: p.slug}) }}">
                                            {{ p.name | truncate(30) }}
                                        </a>
                                    </h2>
                                    <p class="podcast-excerpt">
                                        <a href="{{ path_for('podcasts.show', {id: p.id, slug: p.slug}) }}">
                                            {{ p.description | truncate(100) }}
                                        </a>
                                    </p>
                                    <ul class="podcast-meta">
                                        <li class="item">
                                            <a href="{{ path_for('categories.show', {id: p.categoriesId, slug: p.categorySlug}) }}" class="podcast-tag" rel="tag">
                                                {{ p.categoryName }}
                                            </a>
                                        </li>
                                        <li class="item"><i class="fa fa-clock-o"></i> {{ p.duration }} mins.</li>
                                        <li class="item">
                                            <a href="{{ path_for('podcasts.index', {id: p.id, slug: p.slug}) }}" class="podcast-play">
                                                <i class="fa fa-play"></i> Play Episode
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                    {# ===== PAGINATION ===== #}
                    <div class="col-sm-12 text-center mb-50">
                        <ol class="pagination">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        {% include 'includes/donate.html.twig' %}
    </main>
{% endblock %}
